In [38]:
import numpy as np
import pandas as pd

In [39]:
df=pd.read_csv('customer.csv')

In [40]:
df.sample(10)

    age  gender   review education purchased
12   51    Male     Poor    School        No
22   18  Female     Poor        PG       Yes
43   27    Male     Poor        PG        No
10   98  Female     Good        UG       Yes
21   32    Male  Average        PG        No
18   19    Male     Good    School        No
0    30  Female  Average    School        No
37   94    Male  Average        PG       Yes
1    68  Female     Poor        UG        No
13   57  Female  Average    School        No

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
X=df.iloc[:,:-1]
Y=df.iloc[:,:1]

In [43]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [44]:
X_train

    age  gender   review education
7    60  Female     Poor    School
18   19    Male     Good    School
20   57  Female  Average    School
24   16  Female  Average        PG
14   15    Male     Poor        PG
28   48    Male     Poor    School
2    70  Female     Good        PG
31   22  Female     Poor    School
10   98  Female     Good        UG
33   89  Female     Good        PG
32   92    Male  Average        UG
4    16  Female  Average        UG
27   69  Female     Poor        PG
6    18    Male     Good    School
12   51    Male     Poor    School
29   83  Female  Average        UG
45   61    Male     Poor        PG
39   76    Male     Poor        PG
30   73    Male  Average        UG
15   75    Male     Poor        UG
44   77  Female  Average        UG
23   96  Female     Good    School
40   39    Male     Good    School
3    72  Female     Good        PG
49   25  Female     Good        UG
47   38  Female     Good        PG
26   53  Female     Poor        PG
36   34  Female     Good        UG
9    74    Male     Good        UG
0    30  Female  Average    School
1    68  Female     Poor        UG
35   74    Male     Poor    School
43   27    Male     Poor        PG
8    65  Female  Average        UG
42   30  Female     Good        PG
5    31  Female  Average    School
37   94    Male  Average        PG
41   23    Male     Good        PG
34   86    Male  Average    School
48   39  Female     Good        UG

In [45]:

from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [49]:
transformer=ColumnTransformer(transformers=[
    ('tnf1', OrdinalEncoder(categories=[['Poor','Good','Average']]),['review']),
    ('tnf2', OrdinalEncoder(categories=[['UG','PG','School']]),['education']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender'])
],remainder="passthrough")

In [51]:
print(X_train.head())
print(X_train.dtypes)
print(X_train.columns)
print(type(X_train))

    age  gender   review education
7    60  Female     Poor    School
18   19    Male     Good    School
20   57  Female  Average    School
24   16  Female  Average        PG
14   15    Male     Poor        PG
age           int64
gender       object
review       object
education    object
dtype: object
Index(['age', 'gender', 'review', 'education'], dtype='object')
<class 'pandas.core.frame.DataFrame'>

In [53]:
transformer.fit_transform(X_train).shape

(40, 4)

In [56]:
transformer.transform(X_test).shape

(10, 4)